body {
    background-color:black;
}
h1, h2, h3, h4, p {
    color:white;
    text-align:center;
}
a {
    background-color: greenyellow;
    color:black;
    font-size:large;
}
p {
    margin-left: 20%;
    margin-right:20%;
}